<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets async="true">

    <!-- write log messages to file  -->
    <target xsi:type="File" name="allfile" fileName="c:\temp\nlog-all.log"
            layout="${longdate} ${uppercase:${level}} [${threadid}] [EvtId: ${event-properties:item=EventId_Id}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}] ${logger:shortName=true} : ${message} ${exception:format=tostring}"
            archiveEvery="Day"
            maxArchiveFiles="90"
            archiveFileName="c:/temp/nlog-all_${shortdate}_{###}.log" />


    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="JasperWebApiFile" fileName="c:/temp/JasperWebApi.log" createDirs="true"
            layout="${longdate} ${uppercase:${level}} [${threadid}] ${logger:shortName=true} : ${message} ${exception:format=tostring}"
            archiveEvery="Day"
            maxArchiveFiles="90"
            archiveFileName="c:/temp/JasperWebApi_${shortdate}_{###}.log" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>

    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--Skip non-critical Microsoft logs - only log our apps log messages-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" /><!-- BlackHole without writeTo attribute -->
    <logger name="*" minlevel="Debug" writeTo="JasperWebApiFile" />

  </rules>
</nlog>